// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Basic styles
body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  color: $text;
}

// Typographics
h1 {
  font-size: 70px;
  text-transform: uppercase;
}
h2 {
  font-size: 49px;
  text-transform: uppercase;
}
h3 {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}
h4 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.heading--dark {
  color: $text;
}
.heading--light {
  color: #fff;
  text-shadow: 0px 2px 6.51px rgba(21, 21, 22, 0.63);
}

// Buttons
.button {
  display: inline-block;
  color: $text;
  font-size: 20px;
  border: 2px solid currentColor;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0 20px;

  &:hover {
    text-decoration: none;
  }
}

// Navbar
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  z-index: 100;
  margin-top: 60px;
  
  background: rgba(220, 220, 220, 0.34) !important;

  .collapse {
    justify-content: flex-end;
  }

  .navbar-nav {
    a.nav-link {
      color: #fff;
      text-shadow: 0px 2px 2.79px rgba(21, 21, 22, 0.63);
      font-weight: 500;
      padding-left: 5rem;
      padding-right: 0;
    }

    .current_page_item a.nav-link {
      color: $yellow;
    }
  }
}
.admin-bar .navbar {
  margin-top: 93px;
}

// Social icons
.social {
  display: inline-block;
  width: 20px;
  vertical-align: middle;

  margin: 0 5px;

  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;

  &--facebook {
    background-image: url(../images/social/facebook.png);
  }
  &--linkedin {
    background-image: url(../images/social/linkedin.png);
  }
  &--twitter {
    background-image: url(../images/social/twitter.png);
  }
}


// Sections
.section {
  &--dark {
    background-color: #444;
    color: #fff;
    p {
      text-shadow: 0px 2px 6.51px rgba(21, 21, 22, 0.63);      
    }
    .button {
      color: #fff;
      text-shadow: 0px 2px 6.51px rgba(21, 21, 22, 0.63);
      box-shadow: 0px 2px 6.51px 0.49px rgba(21, 21, 22, 0.63);
      background: rgba(255, 255, 255, 0.3);
      transition: all ease 0.25s;
      cursor: pointer;

      &:hover {
        background: #fff;
        color: #174a81;
        text-shadow: none;
      }
    }
  }
  &--light {
    color: $text;
  }
}


// Hero
#hero {
  .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50%;
  }
}
.hero-caption {
  bottom: 120px;
  left: 25%;
  right: 25%;

  &__text {
    text-shadow: 0px 2px 6.51px rgba(21, 21, 22, 0.63);  
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
  }

  &__cta {
    margin-top: 30px;
    .button {
      color: $text;
      border: none;
      background: $yellow;
      box-shadow: 0px 2px 6.51px 0.49px rgba(21, 21, 22, 0.63);
    }
  }
}


// Advantage
.advantage {
  padding-top: 80px;
  padding-bottom: 80px;
}

// Consultation
.consultation {
  background-color: #fff;
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url(../images/request-a-consultation-div.png);
  padding-top: 80px;
  padding-bottom: 80px;
}

// What we offer
.offer {
  padding: 80px 0;
  background-image: url(../images/what-we-offer-parallax.jpg);
  background-attachment: fixed;

  &__heading {
    text-align: center;
    border-bottom: 1px solid $yellow;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  ul {
    list-style-type: none;
    li {
      list-style-type: none;
      text-transform: uppercase;
      font-weight: bold;
      margin: 20px 0;
      padding-left: 38px;
      background-image: url(../images/check-mark-icon.png);
      background-repeat: no-repeat;
      background-position: left 2px;
    }

  }
}

// Form
.amps-input {
  width: 100%;
  margin: 5px 0;

  display: inline-block;

  color: #fff;
  font-size: 18px;
  border: 2px solid currentColor;

  line-height: 60px;
  padding: 0 20px;
  text-shadow: 0px 2px 6.51px rgba(21, 21, 22, 0.63);
  box-shadow: 0px 2px 6.51px 0.49px rgba(21, 21, 22, 0.63);
  background: rgba(255, 255, 255, 0.3);

  &::placeholder {
    color: #fff;
  }
}


// Map
.map {
  background: #2a2a2a;
  height: 580px;
  position: relative;

  #map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}



// Topbar
.topbar {
  background: #000;
  color: #fff;
  line-height: 60px;

  tel {
    color: $yellow;
  }

  .topbar__login-wrapper {
    background: $yellow;
  }

  .topbar__text {
    text-align: right;
    padding-right: 30px;
  }

  .topbar__login-triangle {
    background: blue;
    width: 30px;
    position: absolute;
    left: 0;
    height: 60px;
    border-left: 15px solid #000;
    border-right: 15px solid $yellow;
    border-bottom: 30px solid $yellow;
    border-top: 30px solid #000;
  }

  .topbar__login {
    display: block;
    background-color: $yellow;
    text-align: center;

    span {
      background-image: url(../images/lock-icon.png);
      background-repeat: no-repeat;
      background-position: 15px center;
      
      color: $text;
      padding-left: 36px;

      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
    }

    &:hover {
      text-decoration: none;
    }
  }
}


// Jobs just in
.jobs {
  padding: 80px 0;

  .section__heading {
    padding-bottom: 30px;
  }

  .jobs__item {
    border: 2px solid $text;
    border-bottom: 20px solid #174a81;
    position: relative;
  }

  .job-item {
    &__date {
      &:before {
        content: '';
        display: inline;
        width: 30px;
        position: absolute;
        left: 0;
        height: 60px;
        border-left: 15px solid #fff;
        border-right: 15px solid #fc0;
        border-bottom: 30px solid #fc0;
        border-top: 30px solid #fff;
      }

      position: absolute;
      right: 0;
      top: 0;
      line-height: 60px;
      background: $yellow;
      
      padding: 0 25px;
      padding-left: 45px;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
    }

    &__content {
      padding: 60px;
      padding-top: 120px;
    }

    
  }
}

// Job Seeker
.job-seeker {
  padding-top: 120px;
  padding-bottom: 120px;
  
  background-image: url(../images/job-seeker-div.jpg);
  background-position: center center;
  background-size: cover;
}

// Employer
.employer {
  padding-top: 120px;
  padding-bottom: 120px;
  
  background-image: url(../images/employer-div.jpg);
  background-position: center center;
  background-size: cover;
}


// Help
.help {
  background-image: url(../images/having-trouble-parallax.jpg);
  background-attachment: fixed;
  padding: 80px 0;
}


// Our People
.people {
  padding: 120px 0;

  .people-slider__content {
    text-align: center;
    p {
      font-size: 24px;
      margin: 40px;
      line-height: 1.8;
    }
    cite {
      font-weight: bold;
      text-transform: uppercase;
      font-style: normal;
    }
  }

  .arrow {

    &--left {

    }

    &--right {

    }
  }
  

}


// Footer
.footer {
  padding-top: 80px;
  font-size: 18px;

  &__bottom {
    margin-top: 80px;
    background: #000;
    line-height: 60px;
    color: #fff;
  }

  .icon-email,
  .icon-address,
  .icon-tel,
  .company {
    background-repeat: no-repeat;
    padding-left: 27px;
  }

  .icon-email {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAABQUlEQVQokZWSMU6UARCFv29mNkpl3E5oKNBmuQO09CbWUusJJHSGWGtBxXYk3oEreABCTEhIMBYiNhLD8o8NKEEjOMkU78t7xcuM4JOypthfgTPuNnO0D2c9e16hywMXH+x4eccwAM3F29Bl0/oy9PAC+BHGe6Buyc6GHp4B98J4F8A4jN3QeZtV4Ogf4SOb1dD5MHaBMWmdpNVpdVKbEpM0D9JR/+KOOs0DiUlSm795nZDW6TXQae2FLoQ5vWJhTkMX0tq74T39W9+lbsYwbGjeB+geNoCxsvSH+0aFbYmVtA7TOhYXxcW0jtM6lFhJavtmhfO0usytpNbS2r9mOL7cK72f1FqZW5f63LK+D+0r4RP2DjB3yxnPaNcbHoX9OoHP6ER5A4xuCQOMkKfIx+5hKvi4rB3sb/zfKz+Y9Wz9Jx+ndSdk+KcyAAAAAElFTkSuQmCC');
  }

  .icon-tel {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAlUlEQVQokeXSwQnCUBCE4S9BREHQgz1oK+nJenJIDZbgSQhoF4JCRCV6yAZfEG3AH4bl7Qz7YFnYoMETN+xDt+g12GTYYYEDrjjqWGGCNU5QofBmGuopUI3Q4p4YjSF3tDkyjH1njCz/ERjwv8HW55JTGrQj3UKXmIcxi3qJuoyMWnclj9A21L+fqHOUOCdfzZKpwitfgAIl3CK8JM0AAAAASUVORK5CYII=');
    background-position-x: 2px;
  }

  .icon-address {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAARCAYAAAAG/yacAAAA6ElEQVQokY3QMUoDQRQA0OdiIygoVmpnZWMgoFh5A1tvYCUBGxtrC7EIIh5ArHKANF5ABG1sBC3sbCREBBEhoLFwFtbPrrsfBubPnzfzZ/gbqzjDPV7xiC5WVMQuRhiXjHdsR7BVsTmOdg4mcROKtzjFQ1i/TPu18V0o9DGVDpzHVYBrWUIThVZ7+EzzIc7DU1oZXsLiesg3Qj6AWTwVrv/CfsLHobUPLOX6SLPfOyleuYy3GjDAQmjVQQ3aiwAy3FWA6zKQx2YJGKH1H4KLgLp1ABb9PnqMZ8w1QdBJaKcpgBkcYrqs+ANtGWZN/c0LSQAAAABJRU5ErkJggg==');
    background-position-x: 2px; 
  }

  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        color: $text;
      }
    }
  }
}
.footer__social {
  text-align: right;
}
.footer__logo {
  width: 220px;
  margin-bottom: 30px;
}

#wrapper-footer  { display: none; }



// Page
.page-hero {
  height: 500px;
  background-color: #444;
  background-position: center center;
  background-size: cover; 
}

.entry-content {
  margin: 100px 0;
}

.job-search, .having-trouble {
  padding: 100px 0;

  text-align: center;
  h3 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  p {
    max-width: 450px;
    margin: 30px auto;
    font-weight: 500;
    line-height: 1.7;
    font-size: 24px;
    min-height: 160px;
  }
  hr {
    width: 100px;
    margin: 0 auto;
    border-color: #fff;
    box-shadow: 0px 2px 6.51px 0.49px rgba(21, 21, 22, 0.63);
  }
}

.contact-us {
  margin-top: 80px;
  p {
    margin: 20px 0;
  }
}
.page-id-38 .footer {
  border-top: 1px solid $text;
}