

.touch .popup_menu_holder_outer{
display: none;
}

.touch .popup_menu_opened .popup_menu_holder_outer{
display: block;
}



.cover_boxes ul li .box .box_content { top: 0; }
.cover_boxes ul li .box .qbutton { margin-top: 18px; }

.drop_down .second .inner .widget {
padding-bottom: 13px;
}

.drop_down .second .inner .widget a{
padding: 0px !important;
}

@media only screen and (min-width: 1000px) {
.google_map {
margin-bottom: 0;
}
}

.header_bottom {
border: 1px solid #e4e4e5;
}

.carousel .item .text .separator {
margin-top: 17px;
margin-bottom: 15px;
}

.slider_content .separator.small {
width: 8% !important;
}


.q_accordion_holder.accordion .ui-accordion-header, .q_accordion_holder.accordion.with_icon .ui-accordion-header {
font-size: 17px !important;
text-transform: none;
font-weight: 400;
}

.q_progress_bars_vertical .progress_content_outer {
height: 136px;
}

.q_accordion_holder.accordion .ui-accordion-header .accordion_mark {
border: none;
}

.q_accordion_holder.accordion .ui-accordion-header.ui-state-active .accordion_mark {
background-color: #f2d03b;
}

.q_accordion_holder.accordion .ui-accordion-header .accordion_mark_icon {
width: 43px;
height: 43px;
}

.q_accordion_holder.accordion h5.ui-accordion-header {
padding-top: 5px;
}

.header_top { 
color: #ffffff;
font-size: 11px;
}

div.wpcf7 img.ajax-loader {
margin-right: -20px;
}

.footer_top {
line-height: 30px;
}

.footer_bottom {
font-size: 14px;
}

.contact_section {
padding-bottom: 0;
}

.contact_form {
margin-bottom: 80px;
}

.slider_content a.qbutton.white {
color: #fff !important;
}

.qbutton.green:hover {
color: #898989 !important;
}

.slider_content a.qbutton.white:hover {
background-color: #fff;
border-color: #fff;
color: #898989 !important;
}

.q_font_awsome_icon_stack:hover .fa-circle, .q_box_holder.with_icon .box_holder_icon_inner .fa-stack:hover i.fa-stack-base {
color: #f2d03b !important;
}

blockquote h5 {
font-size: 18px;
font-weight: 300;
}

.blog_holder article .post_info {
margin-top: 6px;
}

h3.q_team_name {
font-size: 15px;
text-transform: uppercase;
}

.q_icon_with_title .icon_text_holder .icon_title {
font-weight: 400;
}

.q_accordion_holder.accordion .ui-accordion-header, .q_accordion_holder.accordion.with_icon .ui-accordion-header {
letter-spacing: 0 !important;
}

nav.mobile_menu ul li a, nav.mobile_menu ul li h3 {
text-transform: uppercase;
}
.header_bottom{
border:0 !important;
}