*{
    margin: 0 auto;
    padding: 0 auto;
}

body{
    font-family: 'Proxima Nova', sans-serif;
    background-color: #FFF;
    color: #403f3f;
}

section{
    width: 100%;
}

.container{
    width: 90%;
}

a{
    text-decoration: none;
    color: #403f3f;
}

p{
    line-height: 30px;
}

h2{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: normal;
    }
h3{
    text-transform: uppercase;
    font-weight: normal;
}
h4{
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 25px;
}

span{
    font-weight: bold;
}


/* 
*Base Commands
*/

.left-float{
    float: left;
}

.right-float{
    float: right;
}

/* ==========================================================================
Call to Action Button
========================================================================== */
.cta-btn{
    padding: 10px 40px;
    border: solid 1px #fff;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
}

.cta-btn2{
    padding: 10px 40px;
    border: solid 1px #fff;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
   box-shadow:         inset 0 0 10px rgba(0,0,0,0.3);
}


/* ==========================================================================
Info Bar
========================================================================== */

.info-bar{
    width: 100%;
    background-color: #000;
    color: #FFF;
    height: 60px;
    text-align: center;
}

.info-bar div{
    display: inline-block;
    text-align: center;
}

.info-floats{
    width: 90%;
}

.info-floats .info-telephone{
    float: right;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.info-socialmedia i{
    padding: 10px;
}


.login-btn{
    float: right;
    background-color: #ffcc00;
    width: 10%;
    height: inherit;
}

/* ==========================================================================
Main Nav
========================================================================== */

.main-nav{
    height: 150px;
    background-color: rgba(255, 255, 255, 0.34);
}

.main-nav li, .main-nav img{
    display: inline-block;
}


.hero{
    min-height: 100vh;
    background-image: url(../images/Home/hero-slider/hp-slider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ==========================================================================
Advantage / Consultation
========================================================================== */
.advantage-consultation{
    min-height: 810px;
}

.amps-advantage{
    display: inline-block;
    width: 48%;   

}

.request-a-consultation{
    display: inline-block;
    background-image: url(../images/Home/request-a-consultation-div.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52%;
    min-height: inherit;
}

/* ==========================================================================
What We Offer
========================================================================== */
.what-we-offer{
    min-height: 600px;
    background-image: url(../images/Home/what-we-offer-parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ==========================================================================
Jobs Just In
========================================================================== */
.jobs-just-in{
    min-height: 875px;
}

/* ==========================================================================
Job Seeker
========================================================================== */
.job-seeker{
    min-height: 738px;
    background-image: url(../images/Home/job-seeker-div.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 3px rgba(0,0,0,0.3);
}

.job-seeker-container{
    width: 30%;
    min-height: inherit;
    float: left;
    margin-left: 7%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.job-seeker p{
    margin: 15px 0 40px 0;
}

/* ==========================================================================
Employer
========================================================================== */
.employer{
    min-height: 738px;
    background-image: url(../images/Home/employer-div.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 3px rgba(0,0,0,0.3);   
}

.employer-container{
    width: 30%;
    min-height: inherit;
    float: right;
    margin-right: 7%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.employer p{
    margin: 15px 0 40px 0;
}

/* ==========================================================================
Our People
========================================================================== */
.our-people{
    min-height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Our People Text Slider */
#carousel {
    position: relative;
    margin-top: 20px;
}

#slides {
    overflow: hidden;
    position: relative;
    width: 75%;
}

#slides ul {
    list-style: none;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
}

 #slides li {
    width:100%;
    float:left;
    position: relative;
}

#quote-author{
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
#arrow-button a{
    font-size: 5em;
    color: #403f3f;
}

/* ==========================================================================
Having Trouble
========================================================================== */
.having-trouble{
    height: 250px;
    background-image: url(../images/Home/having-trouble-parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 3px 3px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.having-touble h2{
    color: #fff;
}

.having-trouble a{
    margin-left: 100px;
}

/* ==========================================================================
Contact Map
========================================================================== */

.contact-map{
    height: 600px;
}

.map{
    position: relative;
    margin-bottom: -50px;
}

.arrow-up {
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;  
    border-bottom: 50px solid #fff;
}

/* ==========================================================================
Contact Info
========================================================================== */

.contact-info{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info .container{
    display: flex;
    margin: auto;
}

.contact-info .container div{
    display: inline-block;
    flex: 1;
    margin-top: 50px;
}

.contact-info-amps img{
    width: 50%;
    padding-bottom: 15px;
    margin-top: -50px;
}

.contact-info ul{
    list-style: none;
    padding: 0 0 15px 0;
    text-align: left;
}

.contact-info-amps li{
    padding-bottom: 10px;
}

.contact-info-job-seekers li, .contact-info-employers li, .contact-info-socialfeed li{
    padding-bottom: 15px;
}

.contact-info-socialfeed img{
    float: left;
    padding: 0 20px 30px 0;
}

.contact-info-socialfeed p{
    line-height: normal;
}

/* FOOTER */
footer{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #FFF;
}